<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add student form</title>
</head>
<body>
    <%- include('./templates/header.ejs') %>
    <h2>Add student</h2>
    <form action="/students/add-student" method="POST">
        <div>
            <label for="firstName">First name</label>
            <input type="text" id="firstName" name="firstName">
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" name="lastName">
        </div>
        <button type="submit">Add</button>
    </form>
</body>
</html>